<app-intro></app-intro>
<app-header></app-header>
<app-nav></app-nav>
<app-featured-post></app-featured-post>
<app-post></app-post>
<app-pagination></app-pagination>
<app-footer></app-footer>

		

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

